.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 200px;
    display: flex;
    margin: 1em;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}